doctype html
html(lang="en")
	head
		title Flexbox example 1
		link(rel='stylesheet', href='css/main.min.css')
	body
		.blockgroup
			.block.block1 1
			.block.block2 2
			.block.block3 3
			.block.block4 4
			.block.block5 5
			.block.block6 7
