doctype html
html(lang="en")
	head
		title Flexbox example 1
		link(rel='stylesheet', href='css/nav.css')
	body
		ul.navigation
			li
				a Home
			li
				a About
			li
				a Clients
			li
				a Contact
