*
	box-sizing: border-box

body, html
	margin: 0

body
	background: dimgray

.page-wrap
	margin: 0 auto
	width: 90%
	background: white
	display: flex

.main-content
	padding: 10px
	width: 60%

.main-nav,
.main-sidebar
	background: gray
	padding: 10px
	width: 20%

.main-nav, .main-content, .main-sidebar
	float: left

.main-nav
	order: 1

.main-content
	order: 2

.main-sidebar
	order: 3
