html,
body
  font-family: helvetica
  margin: 0
  padding: 0

.blockgroup
  background: purple
  margin: 10px auto
  padding: 5px
  display: flex
  flex-direction: row-reverse //direction of blocks (row / row-rverse / column / column-reverse)
  width: 30%
  height: 500px

  flex-wrap: wrap-reverse //fitting on one line or not (nowrap / wrap / wrap-reverse)

  justify-content: space-around //align horizontally (flex-start / flex-end / space-between / space-around)

  align-items: center //align vertically (flex-start / flex-end / center / base-line / stretch (default))

  align-content: space-between //aligning multiple rows (flex-start / flex-end / space-between / space-around)

.block
  background: orange
  padding: 10px
  border: 5px solid tomato
  color: white
  text-align: center

  order: 1 //change order

  flex: 1 //all blocks width get divided, filling the container width (you also have flex-grow and flex-shrink)

.block1
  order: 2
  flex: 4
  align-self: stretch // (flex-start / flex-end / center / base-line / stretch)