html,
body
  margin: 0
  padding: 0
  font-family: helvetica

.navigation
  list-style: none
  margin: 0
  padding: 0
  background: deepskyblue
  display: flex
  justify-content: flex-end

  a
    text-decoration: none
    display: block
    padding: 1em
    color: white

    &:hover
      background: darken(deepskyblue, 2%)

@media(max-width: 800px)
  .navigation
    justify-content: space-around

@media (max-width: 600px)
  .navigation
    flex-direction: column

    a
      text-align: center
      padding: 10px
      border-top: 1px solid rgba(255,255,255,.3)
      border-bottom: 1px solid rgba(0,0,0,.1)

    & li:last-of-type a
      border-bottom: none

    & li:nth-child(4)
      order: -1