html,
body {
  font-family: helvetica;
  margin: 0;
  padding: 0; }

.blockgroup {
  background: purple;
  margin: 10px auto;
  padding: 5px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 30%;
  height: 500px;
  -webkit-flex-wrap: wrap-reverse;
      -ms-flex-wrap: wrap-reverse;
          flex-wrap: wrap-reverse;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between; }

.block {
  background: orange;
  padding: 10px;
  border: 5px solid tomato;
  color: white;
  text-align: center;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.block1 {
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  -webkit-flex: 4;
      -ms-flex: 4;
          flex: 4;
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch; }
