html,
body {
  margin: 0;
  padding: 0;
  font-family: helvetica; }

.navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  background: deepskyblue;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white; }
    .navigation a:hover {
      background: #00b7f5; }

@media(max-width: 800px) {
  .navigation {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; } }

@media (max-width: 600px) {
  .navigation {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .navigation a {
      text-align: center;
      padding: 10px;
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .navigation li:last-of-type a {
      border-bottom: none; }
    .navigation li:nth-child(4) {
      -webkit-order: -1;
          -ms-flex-order: -1;
              order: -1; } }
